@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@theme {
    /* These must match the strings used in useFonts exactly */
    --font-googlesans-bold: googlesans-bold;
    --font-googlesans-bolditalic: googlesans-bolditalic;
    --font-googlesans-italic: googlesans-italic;
    --font-googlesans-medium: googlesans-medium;
    --font-googlesans-mediumitalic: googlesans-mediumitalic;
    --font-googlesans-regular: googlesans-regular;
    --font-googlesans-semibold: googlesans-semibold;
    --font-googlesans-semibolditalic: googlesans-semibolditalic;
    --font-literata-black: literata-black;
    --font-literata-blackitalic: literata-blackitalic;
    --font-literata-bold: literata-bold;
    --font-literata-bolditalic: literata-bolditalic;
    --font-literata-extrabold: literata-extrabold;
    --font-literata-extrabolditalic: literata-extrabolditalic;
    --font-literata-extralight: literata-extralight;
    --font-literata-extralightitalic: literata-extralightitalic;
    --font-literata-italic: literata-italic;
    --font-literata-light: literata-light;
    --font-literata-lightitalic: literata-lightitalic;
    --font-literata-medium: literata-medium;
    --font-literata-mediumitalic: literata-mediumitalic;
    --font-literata-regular: literata-regular;
    --font-literata-semibold: literata-semibold;
    --font-literata-semibolditalic: literata-semibolditalic;
    --font-quicksand-bold: quicksand-bold;
    --font-quicksand-light: quicksand-light;
    --font-quicksand-medium: quicksand-medium;
    --font-quicksand-regular: quicksand-regular;
    --font-quicksand-semibold: quicksand-semibold;
    --font-robotomono-bold: robotomono-bold;
    --font-robotomono-bolditalic: robotomono-bolditalic;
    --font-robotomono-extralight: robotomono-extralight;
    --font-robotomono-extralightitalic: robotomono-extralightitalic;
    --font-robotomono-italic: robotomono-italic;
    --font-robotomono-light: robotomono-light;
    --font-robotomono-lightitalic: robotomono-lightitalic;
    --font-robotomono-medium: robotomono-medium;
    --font-robotomono-mediumitalic: robotomono-mediumitalic;
    --font-robotomono-regular: robotomono-regular;
    --font-robotomono-semibold: robotomono-semibold;
    --font-robotomono-semibolditalic: robotomono-semibolditalic;
    --font-robotomono-thin: robotomono-thin;
    --font-robotomono-thinitalic: robotomono-thinitalic;
}
